@{
    ViewData["Title"] = "Combates";
}
<h1>Elige el tipo de combate</h1>
<li><a href=@Url.Action("CombateEquipo", "Combate")>Combate con tu equipo</a></li>
<li><a href=@Url.Action("CombateAleatorio", "Combate")>Combate con un equipo aleatorio></li>