@model List<pokemon>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Cantidad de Pokémon
            </th>
            <th>
                Tipo de Pokémon predominante
            </th>
            <th>
                Peso medio del equipo
            </th>
            <th>
                Altura media del equipo
            </th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>
                    6
                </td>
                <td>
                    #todo
                </td>
                <td>
                @ViewBag.MedianaPeso
                </td>
                <td>
                    Añadir a mi equipo
                </td>
            </tr>
    </tbody>
</table>
