@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Pokemon Center!</h1>
    <p>
        El centro Pokémon es un lugar donde se cura o sana a los Pokémon heridos, y un lugar
        donde los entrenadores pueden descansar y reponerse de su viaje Pokémon.
    </p>
    <p>Choose your destiny:</p>
    <ul>
        <li><a class="text-dark" asp-controller="Pokemon" asp-action="Index">Lista de Pokémon</a></li>
        <li><a class="text-dark" asp-controller="Equipo" asp-action="Index">Generación de equipo aleatorio</a></li>
        <li><a class="text-dark" asp-controller="MiEquipo" asp-action="Index">Mi equipo</a></li>
        <li><a class="text-dark" asp-controller="Combate" asp-action="Index">Combatir</a></li>
    </ul>
</div>
